name = "ohkami-yew-todo"
main = "build/worker/shim.mjs"
compatibility_date = "2024-04-19"

# `trunk` CLI and `tailwindcss` CLI is required

build = { command = "cargo install -q worker-build && worker-build --release" }
vars  = { JWT_SECRET_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" }
d1_databases = [
    { binding = "DB", preview_database_id = "DB", database_name = "ohkami-yew-todo-db", database_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" }
]

[env.dev]
build = { command = "cargo install -q worker-build && worker-build --dev" } # Then, run `trunk serve --watch src/ui --open` in another terminal window
vars  = { JWT_SECRET_KEY = "ohkami-yew-todo-app-jwt-secret-key" }
d1_databases = [
    { binding = "DB", preview_database_id = "DB", database_name = "ohkami-yew-todo-db", database_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" }
]
